{
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "htmlWhitespaceSensitivity": "strict",
  "trailingComma": "es5",
  "arrowParens": "always",
  "tabWidth": 2
}